{% extends "base" %}

{% block main %}

{% for post in posts %}
<section class="section">
    <h1 class="title">{{post}}</h1>
    <h2 class="subtitle">
        {{post}}
    </h2>
</section>

{% endfor %}

{% endblock main %}