/* Pagination disable link */
.is-disabled {
    pointer-events: none;
}

.box {
    margin-top: 2rem;
}

a {
    color: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#wrapper {
    flex: 1;
}