{% if flash %}
{% if flash.severity == "error" %}
<script>
    bulmaToast.toast({ message: '{{ flash.message }}', type: 'is-danger' })
</script>
{% endif %}

{% if flash.severity == "success" %}
<script>
    bulmaToast.toast({ message: '{{ flash.message }}', type: 'is-info' })
</script>
{% endif %}
{% endif %}